.upload-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-input-container {
  position: relative;
  margin-bottom: 20px;
}

.file-input {
  display: none;
}

.file-label {
  padding: 10px 20px;
  background-color: #f7f7f7;
  border-color: #ddd;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #ddd;
}

.upload-button,
.analyze-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}
.upload-button{
  float: right;
}
.upload-button:hover,
.analyze-button:hover {
  background-color: #0056b3;
}
.btn-container{
position: relative;
width: 32%;
}

#lableUl{
  padding: 0;
  word-break: break-word;
}


.speaker-container{
float: left;
background-color: #0056b3;
}

.num-speakers{
  width: 90px;
  height: 30px;
}

.file-list {
  list-style-type: none;
  padding: 0;
}

.file-list li {
  padding: 8px 12px;
  margin: 8px 0;
  display: flex; /* make it a flex container */
  justify-content: space-between; /* space out the items */
  align-items: center; /* align items vertically */
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.file-list li:hover {
  background-color: #f5f5f5;
}

/* Ensure that only the list item area (excluding the button) gets the hover effect */
.file-list li > span {
  flex-grow: 1; /* takes up the remaining space */
  cursor: pointer;
}

.file-name {
  text-decoration: none; /* Remove underline */
  color: #007BFF;
  font-weight: 600;
  transition: color 0.2s;
  margin-right: 5px;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
  max-width: 400px; 
}

.file-name:hover {
  color: #0056b3;
}

.analyze-button {
  margin-left: 10px; /* space from the filename */
  cursor: pointer;
}

.analyze-button.disabled {
  background-color: #ccc; /* Grey background */
  cursor: not-allowed; /* Change cursor to not-allowed */
}

.message-field {
  background-color: #007bff;
  color: white;
  border: 2px;
  padding: 8px;
  cursor: default;
  border-radius: 4px;
}

.delete-media-button,
.delete-analysis-button,
.patch-analysis-button {
  margin-left: 10px;
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.delete-media-button {
  background-color: #dc3545; /* Bootstrap danger color for delete */
}

.delete-analysis-button {
  background-color: #ffc107; /* Bootstrap warning color for caution */
}

.patch-analysis-button {
  background-color: #28a745; /* Bootstrap success color for update */
}

.delete-media-button:hover,
.delete-analysis-button:hover,
.patch-analysis-button:hover {
  opacity: 0.8;
}

/* Ensure buttons are not too close to each other */
.file-operations button:not(:last-child) {
  margin-right: 10px;
}

/* Adjust the disabled state for new operation buttons to match the analyze button */
.delete-media-button:disabled,
.delete-analysis-button:disabled,
.patch-analysis-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.upload-page-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.InfoWindow{
  background-color:rgb(223, 220, 253);
  position: absolute;
  width: 32%;

}

.infoContent{
  margin-left: 10px;
}

.close-button{
  float: right;
}

